@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 30px auto;
}

.calculator {
  font-family: "Roboto", sans-serif;
  background-color: rgb(67, 67, 67);
  height: 450px;
  width: 350px;
  border-radius: 5px;
  margin: 20px auto;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.screen {
  height: 20%;
  margin: 7px 8px 0 8px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  border: 2px solid rgba(0, 0, 0, 0.7);
}

.key-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 5px;
  padding: 10px;
  height: 100%;
}

.key-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 3px;
  border: 2px solid rgba(0, 0, 0, 0.7);
}

.key-container > div.ac-btn {
  grid-column-start: 1;
  grid-column-end: 3;
}

.key-container > div.ac-btn,
.key-container > div.ce-btn,
.key-container > div.divide-btn,
.key-container > div.multiply-btn,
.key-container > div.subtract-btn,
.key-container > div.add-btn {
  background-color: rgba(63, 144, 243, 0.2);
}

.key-container > div.equal-btn {
  background-color: rgba(229, 239, 83, 0.3);
  grid-column-start: 3;
  grid-column-end: 5;
}
